{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>B3ING CAFE</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href=" {%static 'image/style.css'%} ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{% static 'image/arsh1.png' %}" style="height: 70px !important;"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active">
                        <a class="nav-link " href="{% url 'home'%}">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about'%}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'menu'%}">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'order'%}">Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'contact'%}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'table'%}">Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'logout'%}"
                            style="background-color: #ff0150; border-radius:10%; color:white; margin-left:20px">Logout</a>
                    </li>

                    <li class="nav-item edit-pro dropdown">
                        <button class="fa fa-user-circle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu " style="width:350px; min-height: 150px; overflow:hidden; " aria-labelledby="dropdownMenuButton">
                                <div class="card-body">
                                    <h5 class="card-title" >Welcome {{ per.username }}</h5>
                                    <h5 class="card-title" >email: {{ per.email }}</h5>
                                    <h5 class="card-title" >phone number: {{ per.phone }}</h5>
                                    
                                    <a href="{% url 'edit' %}" class="btn btn-primary"> Edit Profie &#9881;</a>
                                </div>
                        </div>
                        
            </li>

            <li class="nav-item dropdown">
                <button class="fa fa-cart-plus" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">

                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for i in s %}

                    <a class="dropdown-item" href="#">{{i.name}}</a>
                    <a class="dropdown-item" href="#">{{i.price}}</a>

                    {% endfor %}
                </div>
        </div>
        </li>


        </ul>

        </div>
        </div>
    </div>
    </nav>

    {% block content %}

    {% endblock %}
    <footer class="">
        <div class="container">
            <p><b>Made with &hearts; by Arshad</b></p>
        </div>
    </footer>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
</body>




</html>