{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="main">
    
    <div class="box1">
        <div class="bb">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.1895769962157!2d72.58880331437426!3d23.016810522320576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e85b56429b75b%3A0x4b3b4a4b098595c4!2sAstodia%20Darwaja!5e0!3m2!1sen!2sin!4v1637220214608!5m2!1sen!2sin" width="600" height="450" style="border-radius:30px;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div> 
    
    <div class="box2">
        <p><b>Contact Us</b></p>
        <div class="type">

            <input type="text" name="full name" required id="Uname" placeholder="full name">
            <br><br>

            <input type="text" name="e-mail" required id="mail" placeholder="e-mail">
            <br><br>

            <input type="text" name="message" required id="msg" placeholder="message">
            <br><br>
            <div class="button">
                <button>Contact Us</button>
            </div>
        </div>
    </div>
    

    </div>
    
{% endblock %}
