{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container productview">
    <div class="row" style="margin-top: 100px;">
        <div class="col-md-5 col-lg-5">
            <img class="img-fluid" src="{{v.images.url }}" style=" height: 340px;" alt="">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 col-lg-6" >
            <h3 class="title mt-1">{{v.name}}</h3>
            <h5>Description : </h5>
            <p>{{v.des}}</p>
            <h5><i class="fas fa-rupee-sign"></i> {{v.price}}</h5>
            <div class="order-btn">
                <a href="" class="btn">Order Now</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}