{% extends "base.html" %}

{% block content %}
{% load static %}


<div class="container " style="margin-top: 120px;">
  <form id="container" method="GET" action=""></form>
  <div class="row menu ">
    {% for a in xyz %}
      <div class="col-md-3">
        <div class="card-deck">
          <div class="card " style="margin-bottom: 20px;">
            <img class="card-img-top" src="{{a.images.url}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Capacity : {{a.capacity}}</p>
              <p class="card-text">{{a.status}}</p>
              <a href="#" data-toggle="modal" data-target="#example" class="btn btn-danger">book</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  </form>
</div>




<div class="modal fade bd-example-modal-sm" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Choose Date & Time for Booking </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST">
                {% csrf_token %}
                    <div class="modal-body m-auto">
                            <input type="datetime-local" id="booking" name="date" value=""
                            min="2022-01-01T09:00" max="2030-12-31T09:00">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        <button type="submit" value="submit" class="btn" name="submit" style=" background-color: #ff0150;text-decoration: none;
                        color: white;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    {% endblock %}